<%= simple_form_for @food do |f| %>
  <%= f.input :name, label: "What it's called" %>
  <div class="row">
    <div class="medium-4 columns">
      <%= f.input :author, label: "Who made it up" %>
    </div>
    <div class="medium-8 columns">
      <div class="row collapse">
        <label>Where you found it</label>
        <div class="small-2 large-2 columns">
          <span class="prefix">http://</span>
        </div>
        <div class="small-10 large-10 columns">
          <%= f.input_field :source, placeholder: "Enter your URL..." %>
        </div>
      </div>
    </div>
  </div>

  <%= f.input :haley_comment, label: "What Haley thinks about it" %>
  <%= f.input :tags %>

  <h3>Ingredients</h3>
  <div id="ingredients">
    <%= f.simple_fields_for :ingredients do |i| %>
      <%= render 'ingredient_fields', f: i %>
    <% end %>
    <div class="links">
      <%= link_to_add_association raw('<span class="add-icon"><i class="fa fa-plus-square-o fa-lg"></i></span> Add Ingredient'), f, :ingredients %>
    </div>
  </div>

  <br>
  <h3>Instructions</h3>
  <%= f.input :content %>
  <%= f.button :submit, "Save Recipe" %>
<% end %>