<div class="nested-fields">
  <div class="row">
    <div class="small-6 columns">
      <%= f.input :name, label: "What it is" %>
    </div>
    <div class="small-5 columns">
      <div class="row collapse">
        <label>* How much</label>
        <div class="small-7 columns">
          <%= f.input_field :quantity %>
        </div>
        <div class="small-5 columns">
          <span class="postfix">
            <%= f.input_field :metric, collection: f.object.metrics %>
          </span>
        </div>
      </div>
    </div>
    <div class="small-1 columns">
      <%= link_to_remove_association raw('<div class="remove-icon"><i class="fa fa-minus-square fa-lg"></i></div>'), f %>  
    </div>
  </div>
</div>