<div class="index-banner <%= "searching" unless @search.nil? %>">
  <div class="row">
    <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 columns">
      <div class="search-summary text-center">
        <% if @search.nil? %>
          <h2 class="sub-header">Let's find some recipes!</h2> 
        <% else %>
          <h4 class="sub-header">You searched for <strong><%= "#{ @search.html_safe }"%></strong>, which returned <strong><%= "#{@foods.size}"%> </strong> <%= "#{'result'.pluralize(@foods.size)}!" %></strong></h4> 
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row index-wrapper">
  <div class="small-12 columns">
    <div class="row">
      <% @foods.each_with_index do |food, index| %>
        <% num_columns = case index
            when 0..1 then 6
            when 2..4 then 4
            else 3 
            end %>
        <div class="recipe-unit small-12 medium-<%= num_columns %> columns">
          <%= link_to image_tag('food.jpg', class: 'recipe-img' ), food %>
          <div class="recipe-name text-center">
            <%= link_to food.name, food %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>