<div class="new-recipe-banner">
  <div class="row">
    <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 columns">
      <div class="search-summary text-center">
        <h1><span class="cutlery-icon"><i class="fa fa-cutlery"></i></span>New Recipe</h1> 
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <%= render "form" %>
  </div>
</div>
