<div class="show-recipe-banner">
  <div class="row">
    <div class="small-10 small-offset-1 medium-6 medium-offset-3 large-4 large-offset-4 columns">
      <div class="search-summary text-center">
        <h2><%= @food.name %></h2> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="byline small-10 small-offset-1 columns">
      <% unless @food.source.blank? && @food.author.blank? %>
        <% unless @food.author.blank? %>
          <div class="author">
            <%= "by #{@food.author} " %>
            <% unless @food.source.blank? %>
              <%= " - " %>
              <%= link_to( "(Link to Original)", "http://"+@food.source ) %>
            <% end %> 
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <div class="tags">
        <ul class="inline-list">
          <% @food.tag_array.each do |tag| %>
            <li class="tag">
              <span class="info radius label"><%= "#{tag}" %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 medium-6 large-3 columns">
        <div class="recipe-details">
          <ul class="inline-list">
            <li><%= link_to 'Edit', edit_food_path(@food), class: "secondary button tiny" %></li>
            <li><%= link_to 'Delete', @food, method: :delete, data: { confirm: 'Are you sure?' }, class: "alert button tiny" %></li>
          </ul>
          <div class="haley-comment">
            <% unless @food.haley_comment.blank? %>
              <blockquote><%= "#{@food.haley_comment}" %><cite>Haley Tucker</cite></blockquote>
            <% end %>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 large-3 columns">
        <% unless @food.ingredients.empty? %>
          <div class="recipe-ingredients">
            <h3 class="subheader">Ingredients</h3>
            <ul class="ingredients">
              <% @food.ingredients.each do |ingredient| %>
                <li>
                  <span class="qty">
                    <%= "#{ingredient.quantity} " %>
                    <%= "#{ ingredient.metric } of " unless ingredient.metric.nil? %>
                  </span>
                  <span class="ingredient-name">
                     <%= "#{ingredient.name}" %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="small-12 large-6 columns">
        <div class="recipe-content">
          <h3 class="subheader">Instructions</h3>  
          <%= simple_format @food.content %>        
        </div>
      </div>
    </div>
  </div>
</div>