/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome

 */

 @import 'foundation_and_overrides';
 @import 'foods';
 @import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,400italic,600,800);
.top-bar .title-area .name h1 {
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}