// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***** New / Update Form *****/

$delete-link-color: #b1443b;
$forest: #6d9e35;

////////
// Food#index
////////
.recipe-unit {
	padding-bottom: 30px;

	.recipe-name a {
		font-weight: 600;
		font-style: italic;
		color: $charcoal;
	}
}

.index-banner {
	padding: 20px 0;
	background-color: $med-dk-blue;
	.sub-header {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		color: $smoke;
	}
}

.index-banner.searching {
	padding: 60px 0;
	.sub-header {
		font-weight: 400;
	}
}

.index-wrapper {
	padding-top: 16px;
}

////////
// Food#new
////////
.new-recipe-banner {
	padding: 20px 0;
	background-color: $lt-blue;
	h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 2.25rem;
		span.cutlery-icon {
			margin-right: 0.5em;
		}
		color: $smoke;
	}
	margin-bottom: 16px;
}

////////
// _ingredient_fields partial
////////
.add-icon {
	position: relative;
	top: 1px;
	margin-right: 0.3em;
}

.remove-icon {
	position: relative;
	top: 28px;
	left: -18px;
}

////////
// Food#show
////////
h1 small.alert a {
	color: $delete-link-color;

	:hover {
		color: darken($delete-link-color, 30%);
	}
	:visited {
		color: $delete-link-color;
	}
}

.tags {
	ul.inline-list {
		margin-left: -0.625rem;
		li {
			margin-left: 0.625rem;
			margin-bottom: 0.5ex;
		}
	}
}

.show-recipe-banner {
	padding: 20px 0;
	background-color: $med-lt-blue;
	h2 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 2.5rem;
		color: $smoke;
	}
	div.tags ul.inline-list {
		display: table;
		margin: 0 auto;
	}
	margin-bottom: 16px;
}

div.recipe-details ul.inline-list {
	display: table;
	margin: 0 auto;
}

div.author {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: table;
	margin: 0 auto 8px;
	color: $ghost;
	a {
		font-weight: 600;
		font-style: italic;
		color: $ghost;
		border-bottom: 1px solid $ghost;
	}
}
