<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Recipe!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Recipe!", foods_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><%= link_to "New Recipe", new_food_path %></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <form action=<%= foods_path %> >
              <div class="row collapse">
                <div class="small-9 columns">
                  <input type="text" name="search" placeholder="Find Stuff">
                </div>
                <div class="small-3 columns">
                  <button class="info button expand">Search</button>
                </div>
              </div>
            </form>
          </li>
        </ul>
      </section>
    </nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag :cocoon %>
  </body>
</html>